---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";

const allPosts = await getCollection("blog");
const posts = allPosts
  .filter((post) => import.meta.env.DEV || !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Joe Muller">
  <section>
    {posts.map((post) => (
      <PostCard
        title={post.data.title}
        slug={post.id}
        date={post.data.date}
        description={post.data.description}
        tags={post.data.tags}
        body={post.body ?? ""}
      />
    ))}
  </section>
</BaseLayout>
